<!DOCTYPE html>
<html>
<head>
<style>
div {text-align: center;}
html { 
  background: url(https://storage.cloud.google.com/pictures-sentiment-review-app/coffee-soul.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}`
</style>
</head>
<body>
<div align="center">
<textarea name="text" cols="25" rows="5">
Write your review here!!
</textarea>
</div>
<input type="submit">

